# Require human review for non-metadata changes.

# Require human review for GitHub workflow and repository configuration.
/.github/ @web-platform-tests/wpt-core-team @web-platform-tests/admins
# Require human review for Go code changes.
/go_test/ @web-platform-tests/wpt-core-team @web-platform-tests/admins
/go_util/ @web-platform-tests/wpt-core-team @web-platform-tests/admins
# Require human review for top-level Go code changes and repository configuration.
/* @web-platform-tests/wpt-core-team @web-platform-tests/admins
