# Require human review for non-metadata changes.

# Require human review for GitHub workflow and repository configuration.
/.github/ @web-platform-tests/wpt-core-team @web-platform-tests/admins
# Require human review for Go code changes.
/go_test/ @web-platform-tests/wpt-core-team @web-platform-tests/admins

# Do not require human review for WPT Manifest changes.
/go_test/MANIFEST.json
/go_test/WPT_SHA.json

/go_util/ @web-platform-tests/wpt-core-team @web-platform-tests/admins
# Require human review for top-level Go code changes and repository configuration.
/* @web-platform-tests/wpt-core-team @web-platform-tests/admins
